*{margin:0;padding:0;}

.font_12px{font-size:12px;}
.font_14px{font-size:14px;}
.font_16px{font-size:16px;}
.font_69px{font-size:69px;}
.font_32px{font-size:32px;}
.font_56px{font-size:56px;}
.font_24px{font-size:24px;}

.font_green{color:#34f5b9}
.font_blue{color:#3884F9}

.line_height_35px{line-height:35px;}